html{
  background:#f7f7f7;
  font-family: 'Press Start 2P', cursive;
  color:#424242;
}
.frame{
    overflow:hidden;
    position: absolute;
    background-color:transparent;
    height: 500px;
    width: 500px;
    margin: -250px 0 0 -250px;
    top: 50%;
    left: 50%;
  -webkit-box-shadow: 0px 0px 103px -22px rgba(38,50,56,1);
-moz-box-shadow: 0px 0px 103px -22px rgba(38,50,56,1);
box-shadow: 0px 0px 103px -22px rgba(38,50,56,1);
}
.line{
  width:100%;
  height:190px;
  position:absolute;
  top:200px;
  background-repeat:repeat;
  background:url(https://screenshotscdn.firefoxusercontent.com/images/634b4d5d-6cb2-4772-865a-9f5590b68b77.png);
  background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 4s linear infinite;
}
.dino{
  position:absolute;
  border-collapse:collapse ;
  top:270px;
  left:10px;
}
td{
  padding:1.4px;
}
.g{
  background:#424242;
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.scoreboard{
  float:right;
  margin:20px;
}
.chatbubble{
  font-size:12pt;
  position:relative;
  width:350px;
  height:20px;
  top:210px;
  left:50px;
  overflow:hidden;
   animation: extnding 5s;
}
.tired{
  margin:0px;
  padding:0px;
  white-space: nowrap
}
@keyframes extnding{
  from{width:0px;}
  to{width:350px;}
}
.left-foot{
  border-collapse:collapse;
  position:absolute;
  top:309px;
  left:25px;
  animation:left-foot 1s linear infinite;
}
.right-foot{
  border-collapse:collapse;
  position:absolute;
  top:309px;
  left:35px;
  animation:right-foot 1s linear infinite;
  animation-delay: 0.5s;
}
.dinosaur{
  position:relative;
}
@keyframes left-foot{
  0%{top:309px;}
  50%{top:318px;}
  100%{top:309px;}
}
@keyframes right-foot{
  0%{top:309px;}
  50%{top:318px;}
  100%{top:309px;}
}
